.body h1 {
	text-align: center;
	font-size: 72px;
	padding: 5px 5px 0px 5px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.body h2 {
	text-align: center;
	font-size: 50px;
	font-family: Impact, Charcoal, sans-serif;
	padding: 5px 5px 0px 5px;
}

.body .prime {
	margin-left: 39.5%;
}

#endValue {
	margin: 5px auto 5px auto;
	border: 5px solid black;
	border-radius: 50%;
	height: 325px;
	width: 350px;
	background-color: #337277;

	text-align: center;
	font-size: 400px;
	color: #07AA9E;

		
}



